body{
    font-family: 'Nunito', sans-serif;
background-color: #EEEEEE;
    
}
h1,h2{
    font-weight:900;
}
p{
    color: #808B8D;
}
a{
    text-decoration: none !important;
}
.sec-color{
    color: #2c3950;
}
.bg-main-color{
    background-color: #00ADB5;
}
.main-color{
    color: #00ADB5;
}
img{width: 100%;}
input::placeholder { 
    color: #fff!important;
    
  }
.tran{
    transition: 1s all!important;
}
/*============================================================================================================================*/
/*======================================================= Home Start ====================================================*/
/*============================================================================================================================*/
.bg-top-nav{
 background-color: #00ADB5;
}
.nav-info i{
margin-right: .1rem;
}
.nav-info p{
    margin-bottom: 0;
}
.nav-icons i{
    border: 1px solid rgba(255, 255, 255, .5);
    padding: .5rem;
    border-radius: 50%;
    margin-left: .2rem;
    transition: 1s all;
}
.nav-icons i:hover{
    background-color: #fff;
    color:#00ADB5;
}
.logo-fs{
    font-weight: 900;
    font-size: 2rem;
  }
.navbar-nav .nav-item .link-hover{
   color: white !important;
   transition: .5s all;
   position: relative;
}
.navbar-nav .nav-item .link-hover:hover{
    color: #00ADB5 !important;
}

.nav-btn{
    transition: 1s all;  
}
.nav-btn:hover{
    background-color: rgba(0, 173, 181,.7);
}
.search-bar button{
    transition: 1s all;
}
.search-bar button:hover{
    background-color: rgba(0, 173, 181,.7);
}

.carousel-control-prev,.carousel-control-next{
    background-color: rgba(0, 0, 0,.6);
    width: fit-content;
    height: fit-content;
    margin: auto;
}
.layer{
background-color: rgba(0, 0, 0,.4);
}
.slide1{
    background:url('../img/bg-1.jpg');
    background-size: cover;
    background-position: center center;
}
.slide2{
    background:url('../img/bg-2.jpg');
    background-size: cover;
    background-position: center center;
}
.slide3{
    background:url('../img/bg-3.jpg');
    background-size: cover;
    background-position: center center;
}
@media (max-width: 576px) { 
    .first-nav .col-lg-4,.first-nav .col-lg-7{
        text-align: center;
        padding-bottom: .6rem;
    }
 }


/*============================================================================================================================*/
/*======================================================= Home End ====================================================*/
/*============================================================================================================================*/

/*============================================================================================================================*/
/*======================================================= About Start ====================================================*/
/*============================================================================================================================*/
.about2 button:hover{
    transform: translateY(1.5rem);
    background-color: rgba(0, 173, 181,.7);


}
/*============================================================================================================================*/
/*======================================================= About End ====================================================*/
/*============================================================================================================================*/
@media (max-width: 576px) { 
    #about .col-sm-6{
        width: 50%;
    }
    #about .order-sm-1{
        order: 1;
        margin-bottom: 3rem;
    }
    #about .order-sm-2{
        order: 2;
    }
    #about .order-sm-3{
        order: 3;
    }
    #about.about{
        padding-top:0 !important;
        padding-bottom:0 !important;
     
    
    
    }
    
    
    }
/*============================================================================================================================*/
/*======================================================= Services Start ====================================================*/
/*============================================================================================================================*/
#services .services-items .item:hover{
background-color: #00ADB5!important;
color: #fff!important;
border-radius: 50%;
}

#services .services-items .item:hover i,#services .services-items .item:hover p,#services .services-items .item:hover h4{
     color: #fff!important;
   
}
#services .services-items .item i{
    border: .3rem solid #00ADB5;
    border-radius: 50%;
    padding: 1rem;
}
#services .services-items .item:hover i{
    border: .3rem solid #fff;
}
/*============================================================================================================================*/
/*======================================================= Sevices End ====================================================*/
/*============================================================================================================================*/

/*============================================================================================================================*/
/*======================================================= Destination Start ====================================================*/
/*============================================================================================================================*/
@media (max-width: 576px) { 
#destination .mb-sm-3{
    margin-bottom: 1.1rem;
}
}
/*============================================================================================================================*/
/*======================================================= Destination End ====================================================*/
/*============================================================================================================================*/

/*============================================================================================================================*/
/*======================================================= Categories Start ====================================================*/
/*============================================================================================================================*/
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #00ADB5 !important;
    color: #fff !important;
}
.nav-pills .nav-link {
    color: #00ADB5 !important;}
.cat-item img{
    height: 33rem !important;
}
 
.cat:hover h2{
transform: translateX(-7.7rem);
}
.cat:hover img{
    transform: scale(1.2);
  }

  @media (max-width: 576px) { 
#categories .col-md-6{
    margin-bottom:1.5rem ;
}

  }
 /*============================================================================================================================*/
/*======================================================= Category Start ====================================================*/
/*============================================================================================================================*/

/*=============================================================================================================================*/
/*======================================================= destination Start====================================================*/
/*============================================================================================================================*/
 
.d-item:hover img{
    transform: scale(1.3); }
.d-layer{
    background-color: rgb(0, 0, 0,.2);
}
.layer-top{
    transition: 2s all;
    transform: translateY(-100%); 
}
.layer-bottom{
    transition: 2s all;
    transform: translateY(100%); 
}
.d-item{
    transition: 1s all;
}
.d-item:hover .layer-top,.d-item:hover .layer-bottom{
    transform: translateY(0);
}
.d-item button{
    transition: 1s all;
}
.d-item button:hover{
    background-color: #fff;
    color: #00ADB5 !important;
}

/*============================================================================================================================*/
/*======================================================= destination End ====================================================*/
/*============================================================================================================================*/

/*============================================================================================================================*/
/*======================================================= Packages Start ====================================================*/
/*============================================================================================================================*/
.card-hover:hover{
    box-shadow: 0 0 3rem rgba(0, 173, 181,.3);
}
.card-hover button:hover{
background-color: rgba(0, 173, 181,.7);
transform: translateY(-.5rem);
}
.card-hover p,.card-hover .card-icons,.card-hover h4{
    transition: 1s all;
}

.card-hover:hover p
{
    transform: translateY(.5rem);

}
.card-hover:hover .card-icons,.card-hover:hover h4{
    transform: translateY(.7rem);

}
.card-hover:hover img{
    transform: scale(1.2);
  }

.card .card-img{
    height: 20rem !important;
}

/*============================================================================================================================*/
/*======================================================= Packages End ====================================================*/
/*============================================================================================================================*/

/*============================================================================================================================*/
/*======================================================= Booking Start ====================================================*/
/*============================================================================================================================*/
.booking-bg{
    background-image: url('../img/booking.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
}
.booking-layer{
    background-color: rgba(0, 0, 0,.5);
}
#booking button{
    border: 1px solid #fff;
}
#booking button:hover{
background-color:#fff !important;
color: #000 !important;
}
#booking .text-area-h{
    height: 6rem;
    
}
/*============================================================================================================================*/
/*======================================================= Booking End ====================================================*/
/*============================================================================================================================*/

/*============================================================================================================================*/
/*======================================================= Guide Start ====================================================*/
/*============================================================================================================================*/
#guide i{
    background-color: #fff;
    padding: .6rem;
    margin-right: .2rem;
    border-radius: 50%;
    color: #00ADB5;
    transition: 1s all;
    border-bottom: .08rem solid #00ADB5;
}
#guide i:hover{
    background-color: #00ADB5;
    color: #fff;
}
#guide img,#guide .guide-card{
    transition: 1s all;
}
#guide .guide-card:hover img{
transform: scale(1.1);
}
 
#guide .guide-card:hover{
    transform: translateY(-2rem);
}
@media (max-width: 576px) { 
    #guide .col-lg-3{
        margin-bottom:3rem ;
       
    }
}
/*============================================================================================================================*/
/*======================================================= Guide End ====================================================*/
/*============================================================================================================================*/

/*============================================================================================================================*/
/*======================================================= Testimonials Start ====================================================*/
/*============================================================================================================================*/
.testimonials-item img{
    width: 6rem;
    height: 6rem;
    border: .3rem solid #00ADB5;
    transition: 1s all;

}
.carousel-indicators button {
    width: 1rem !important;
    height: 1rem !important;
    background-color: #00ADB5 !important;
    
}
.carousel-control-prev,.carousel-control-next{
    background-color: #00ADB5 !important;
    padding: 1rem;
    border-radius: 50%;

}
.testimonials-item,.testimonials-item p,.testimonials-item span{
    transition: 1s all;
}
.testimonials-item{
    cursor: pointer;
}

.testimonials-item:hover{
background-color: #00ADB5 !important;
color: #fff !important;
}
.testimonials-item:hover img{
    color:#fff;
        border: .3rem solid #fff;
    transform: translateY(-1rem);
}
.testimonials-item:hover p,.testimonials-item:hover span{
    color: #fff !important;

}
@media (max-width: 576px) { 
    .testimonials-item{
        width: 70% !important;
    }
}
@media (min-width:576px) {
    .testimonials-item{
        width: 70% !important;
    }
}
@media (min-width:768px) {
        .testimonials-item{
            width: 50% !important;
        }
}
@media (min-width:992px) {
    .testimonials-item{
        width: 25% !important;
    }
}
/*============================================================================================================================*/
/*======================================================= Testimonials End ====================================================*/
/*============================================================================================================================*/

/*============================================================================================================================*/
/*======================================================= Footer Start ====================================================*/
/*============================================================================================================================*/
.footer-links a{
    transition: .5s all;
}
.footer-links a:hover{
letter-spacing: 1px;

}

.footer-icons i{
    border: 1px solid rgba(255, 255, 255, .5);
    padding: 1.2rem .7rem;
     margin-left: .2rem;
    transition: 1s all;
}
.footer-icons i:hover{
    background-color: #fff;
    color:#00ADB5;
}
@media (max-width: 576px) {
#footer{
     background-color: #00ADB5;
}
}
 

/*============================================================================================================================*/
/*======================================================= Footer End ====================================================*/
/*============================================================================================================================*/

/*============================================================================================================================*/
/*======================================================= Website End :-D ====================================================*/
/*============================================================================================================================*/